.main_container_header {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 1rem 1rem;
}

.main_container_header_label {
    font-size: larger;
    font-weight: 700;
}

.main_container_count {
    font-size: smaller;
    padding: 0.2rem 0.4rem;
    border: var(--default-border);
    border-radius: 0.4rem;
    margin-left: 0.25rem;
}