.input {
  padding: 0.5rem 0.75rem;
  border: var(--default-border);
  border-radius: 0.4rem;
  font-size: 1rem;
  background: var(--background);
  color: var(--foreground);
}

.input:focus {
  outline: none;
  border-color: var(--app-theme-color, #666) !important;
}

.input_error {
  border-color: var(--error-color, #c00);
}

