.feed_list {
    --icon-width: 3rem;
    --icon-border-radius: 0.25rem;
    --icon-theme-color: rgba(128, 128, 128, 0.1);
    --items-top-margin: 0.25rem;
    --default-border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: var(--default-border);
    border-left: var(--default-border);
}

.feedSource {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "icon title title title"
        "icon link link link"
        "icon description description description"
        "icon description description description"
    ;
    border-top: 1px solid var(--border-color);
    padding: 1rem;
}

.feedSource:nth-child(1) {
    border-top: none;
}

.title {
    font-size: medium;
    font-weight: 600;
    width: fit-content;
    grid-area: title;
    text-decoration: underline;
    text-decoration-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
    transition: 0.3s;
}

.title:hover {
    text-decoration-color: rgba(128, 128, 128, 1);
    opacity: 0.6;
}

.rss_link,
.description {
    font-size: small;
    font-weight: 400;
    margin-top: var(--items-top-margin);
}

.rss_link {
    grid-area: link;
    margin-top: calc(var(--items-top-margin)*2);
    text-decoration: underline;
    text-decoration-color: rgba(128, 128, 128, 0.4);
    width: fit-content;
}

.rss_link:hover {
    text-decoration-color: rgba(128, 128, 128, 1);
}

.description {
    grid-area: description;
    width: 100%;
    margin-top: var(--items-top-margin);
    opacity: 0.6;
    line-height: 1.5;
    max-height: calc(1.5em * 3);
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.feed_source_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: var(--icon-width);
    border-radius: var(--icon-border-radius);
    padding: 1rem;
    background-color: var(--icon-theme-color);
    font-weight: 800;
    grid-area: icon;
    margin-right: 1rem;
}

.feed_source_img {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: var(--icon-width);
    border-radius: var(--icon-border-radius);
    border: 1px solid var(--icon-theme-color);
    object-fit: contain;
    grid-area: icon;
    margin-right: 1rem;
}